.anchor {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.books {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.facebook {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.gplus {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.hero-logo {
  width: 2.71em;
  height: 1em;
  fill: initial;
}
.kiwi {
  width: 1.22em;
  height: 1em;
  fill: #C6C6C6;
}
.linkedin {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.monitor {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.photo {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.rss {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.skype {
  width: 1em;
  height: 1em;
  fill: initial;
}
.tumblr {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.twitter {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.vimeo {
  width: 1.14em;
  height: 1em;
  fill: initial;
}