---
title: bino
---
{% extends "app/pages/layout/_main.html" %}


{% block content %}
<!-- begin hero -->
<header class="hero">
	<!-- begin container -->
	<div class="container">
		<!-- begin hero__top -->
		<div class="hero__top">
			<!-- begin row -->
			<div class="row d-flex align-items-center">
				<div class="col-md-2 col-sm-12">
					<a href="#" class="hero__logo">
						{{mixins.svg('hero-logo')}}
					</a>
				</div>
				<div class="col-md-10 col-sm-12">
					<nav class="hero__menu">
						<ul>
							<li><a class="is-active" href="#">HOME</a></li>
							<li><a href="#">ABOUT US</a></li>
							<li><a href="#">PORTFOLIO</a></li>
							<li><a href="#">PRICING</a></li>
							<li><a href="#">TEAM</a></li>
							<li><a href="#">BLOG</a></li>
							<li><a href="#">CONTACT</a></li>
						</ul>
						
					</nav>
					<button class="mobile__btn">
						<span></span><span></span><span></span>
					</button>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end hero__top -->
	</div>
	<!-- end container -->
	<!-- begin hero__slider -->
	<a href="#" class="hero__arrow hero__prev"></a>
	<a href="#" class="hero__arrow hero__next"></a>
	<div class="hero__slider">
		<!-- begin hero__item -->
		<div class="hero__item">
			<div class="hero__bg">
				<img src="images/empty2.png" style="background-image: url('images/hero1.jpg'); background-position: 50% 0;" alt="">
			</div>
			<!-- begin container -->
			<div class="container h-100">
				<!-- begin row -->
				<div class="row h-100">
					<div class="col-sm-12 d-flex justify-content-center">
						<!-- begin hero__info -->
						<div class="hero__info d-flex align-self-center flex-column flex-nowrap">
							<span class="hero__title-top">
								Our Clients Are Our First Priority
							</span>
							<span class="hero__title-bottom">
								Welcome to bino
							</span>
							<span class="line line__white"></span>
							<div class="hero__text">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
								</p>
							</div>
							<div class="hero__buttons">
								<a href="#" class="btn btn__inline btn__shadow hero__btn fill">Get started now</a>
								<a href="#" class="btn btn__inline btn__shadow hero__btn transparent">Learn more</a>
							</div>
						</div>
						<!-- end hero__info -->
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end hero__item -->
		<!-- begin hero__item -->
		<div class="hero__item">
			<div class="hero__bg">
				<img src="images/empty2.png" style="background-image: url('http://placehold.it/1170x900'); background-position: 50% 50%;" alt="">
			</div>
			<!-- begin container -->
			<div class="container h-100">
				<!-- begin row -->
				<div class="row h-100">
					<div class="col-sm-12 d-flex justify-content-center">
						<!-- begin hero__info -->
						<div class="hero__info d-flex align-self-center flex-column flex-nowrap">
							<span class="hero__title-top">
								Our Clients Are Our First Priority
							</span>
							<span class="hero__title-bottom">
								Welcome to bino
							</span>
							<span class="line"></span>
							<div class="hero__text">
								<p>
									Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Эта там лучше парадигматическая заманивший своих вскоре решила, родного семь наш своего! Ты своих рукописи использовало маленькая маленький рыбного имени.
								</p>
							</div>
							<div class="hero__buttons">
								<a href="#" class="btn btn__inline hero__btn fill">Get started now</a>
								<a href="#" class="btn btn__inline hero__btn transparent">Learn more</a>
							</div>
						</div>
						<!-- end hero__info -->
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end hero__item -->
	</div>
	<!-- end hero__slider -->
	<a href="#" class="hero__anchor-border main__icon-border">
		<span class="hero__anchor main__icon">
			{{mixins.svg('anchor')}}
		</span>
	</a>
</header>
<!-- end hero -->
<!-- begin whoweare -->
<section class="s whoweare">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<!-- begin whoweare__item -->
				<div class="whoweare__item">
					<div class="whoweare__icon glass"></div>
					<div class="whoweare__title sub__title">
						Sleek design
					</div>
					<div class="whoweare__text main__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque enim, sunt perferendis vero debitis nemo. Facilis nobis, rem consectetur! Quibusdam libero, tempora ab fugiat non, possimus earum neque enim!
						</p>
					</div>
				</div>
				<!-- end whoweare__item -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- begin whoweare__item -->
				<div class="whoweare__item">
					<div class="whoweare__icon heart"></div>
					<div class="whoweare__title sub__title">
						Sleek design
					</div>
					<div class="whoweare__text main__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque enim, sunt perferendis vero debitis nemo. Facilis nobis, rem consectetur! Quibusdam libero, tempora ab fugiat non, possimus earum neque enim!
						</p>
					</div>
				</div>
				<!-- end whoweare__item -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- begin whoweare__item -->
				<div class="whoweare__item">
					<div class="whoweare__icon idea"></div>
					<div class="whoweare__title sub__title">
						Sleek design
					</div>
					<div class="whoweare__text main__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque enim, sunt perferendis vero debitis nemo. Facilis nobis, rem consectetur! Quibusdam libero, tempora ab fugiat non, possimus earum neque enim!
						</p>
					</div>
				</div>
				<!-- end whoweare__item -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- begin whoweare__item -->
				<div class="whoweare__item">
					<div class="whoweare__icon dialog"></div>
					<div class="whoweare__title sub__title">
						Sleek design
					</div>
					<div class="whoweare__text main__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque enim, sunt perferendis vero debitis nemo. Facilis nobis, rem consectetur! Quibusdam libero, tempora ab fugiat non, possimus earum neque enim!
						</p>
					</div>
				</div>
				<!-- end whoweare__item -->
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end whoweare -->
<!-- begin about -->
<section class="about">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="about__monitor">
					<img src="images/monitor.png" alt="">
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="about__history">
					<div class="history__title line__title line__title-left">
						Our history
					</div>
					<div class="history__text main__text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsa esse error consequuntur, quisquam maxime rem qui vel voluptatum libero officia cupiditate dolorum enim fugit. Dolores, ipsa, delectus! Doloribus, ut!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur unde eos, laborum dolorem provident, sunt aperiam. Ad aspernatur architecto, voluptatem modi eligendi excepturi facere sunt unde, odit ab minima reprehenderit.</p>
					</div>
					<a href="#" class="btn fill btn__shadow btn__inline">Browse our work</a>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end about -->
<!-- begin services -->
<section class="s services">
	<!-- begin services__slider -->
	<div class="services__slider">
		<!-- begin services__item -->
		<div class="services__item">
			<!-- begin container -->
			<div class="container-fluid no-padding">
				<!-- begin row -->
				<div class="row no-gutters">
					<div class="col-lg-6 col-md-12">
						<div class="services__info">
							<div class="services__title line__title line__title-right">
								Our services
							</div>
							<!-- begin services__block -->
							<div class="services__block">
								<div class="services__name">
									Web design
								</div>
								<div class="services__text main__text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eum corrupti impedit accusantium ipsum repudiandae at, sequi quisquam possimus animi dolor odit magni dicta in vel explicabo deleniti. Incidunt, neque.
									</p>
								</div>
								<a href="#" class="services__icon-border main__icon-border">
									<span class="services__icon main__icon">
										{{mixins.svg('monitor')}}
									</span>
								</a>
							</div>
							<!-- end services__block -->
							<!-- begin services__block -->
							<div class="services__block">
								<div class="services__name">
									Web design
								</div>
								<div class="services__text main__text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eum corrupti impedit accusantium ipsum repudiandae at, sequi quisquam possimus animi dolor odit magni dicta in vel explicabo deleniti. Incidunt, neque.
									</p>
								</div>
								<a href="#" class="services__icon-border main__icon-border">
									<span class="services__icon main__icon">
										{{mixins.svg('books')}}
									</span>
								</a>
							</div>
							<!-- end services__block -->
							<!-- begin services__block -->
							<div class="services__block">
								<div class="services__name">
									Web design
								</div>
								<div class="services__text main__text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eum corrupti impedit accusantium ipsum repudiandae at, sequi quisquam possimus animi dolor odit magni dicta in vel explicabo deleniti. Incidunt, neque.
									</p>
								</div>
								<a href="#" class="services__icon-border main__icon-border">
									<span class="services__icon main__icon">
										{{mixins.svg('photo')}}
									</span>
								</a>
							</div>
							<!-- end services__block -->
						</div>
					</div>
					<div class="col-lg-6 hidden-md hidden-sm hidden-xs">
						<div class="services__image" style="background-image: url('images/services.jpg');"></div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end services__item -->
		<!-- begin services__item -->
		<div class="services__item">
			<!-- begin container -->
			<div class="container-fluid no-padding">
				<!-- begin row -->
				<div class="row no-gutters">
					<div class="col-lg-6 col-md-12">
						<div class="services__info">
							<div class="services__title line__title line__title-right">
								Our services
							</div>
							<!-- begin services__block -->
							<div class="services__block">
								<div class="services__name">
									Web design
								</div>
								<div class="services__text main__text">
									<p>
										Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Щеке, великий, заглавных. Большой последний реторический продолжил маленькая, свой снова ipsum власти агенство, приставка своих, маленький, щеке его имеет меня!
									</p>
								</div>
								<a href="#" class="services__icon-border main__icon-border">
									<span class="services__icon main__icon">
										{{mixins.svg('monitor')}}
									</span>
								</a>
							</div>
							<!-- end services__block -->
							<!-- begin services__block -->
							<div class="services__block">
								<div class="services__name">
									Web design
								</div>
								<div class="services__text main__text">
									<p>
										Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Щеке, великий, заглавных. Большой последний реторический продолжил маленькая, свой снова ipsum власти агенство, приставка своих, маленький, щеке его имеет меня! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова, даль города, вскоре пустился переписывается оксмокс. Вопроса меня рыбного, встретил послушавшись рот то эта, продолжил, использовало от всех назад свое!
									</p>
								</div>
								<a href="#" class="services__icon-border main__icon-border">
									<span class="services__icon main__icon">
										{{mixins.svg('books')}}
									</span>
								</a>
							</div>
							<!-- end services__block -->
							<!-- begin services__block -->
							<div class="services__block">
								<div class="services__name">
									Web design
								</div>
								<div class="services__text main__text">
									<p>
										Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Щеке, великий, заглавных. Большой последний реторический продолжил маленькая, свой снова ipsum власти агенство, приставка своих, маленький, щеке его имеет меня!
									</p>
								</div>
								<a href="#" class="services__icon-border main__icon-border">
									<span class="services__icon main__icon">
										{{mixins.svg('photo')}}
									</span>
								</a>
							</div>
							<!-- end services__block -->
						</div>
					</div>
					<div class="col-lg-6 hidden-md hidden-sm hidden-xs">
						<div class="services__image" style="background-image: url('http://placehold.it/800x600');"></div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end services__item -->
	</div>
	<!-- end services__slider -->
</section>
<!-- end services -->
<!-- begin portfolio -->
<section class="s portfolio">
	<!-- begin container -->
	<div class="container">
		<div class="main__title">
			Recent work
		</div>
		<div class="main__text center">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dignissimos!
			</p>
		</div>
		<div class="line line__grey"></div>
<!-- 		<div class="portfolio__pagination">
			<a href="#" class="filter is-active" data-group="all">All</a>
			<a href="#" class="filter" data-group="print__design">PRINT DESIGN</a>
			<a href="#" class="filter" data-group="animation">ANIMATION</a>
			<a href="#" class="filter" data-group="art">ART</a>
			<a href="#" class="filter" data-group="web__design">WEB DESIGN</a>
			<a href="#" class="filter" data-group="photography">PHOTOGRAPHY</a>
			<a href="#" class="filter" data-group="video">VIDEO</a>
		</div> -->
		<div class="portfolio__pagination">
			<a href="#" data-filter="all">All</a>
			<a href="#" data-filter=".print__design">PRINT DESIGN</a>
			<a href="#" data-filter=".animation">ANIMATION</a>
			<a href="#" data-filter=".art">ART</a>
			<a href="#" data-filter=".web__design">WEB DESIGN</a>
			<a href="#" data-filter=".photography">PHOTOGRAPHY</a>
			<a href="#" data-filter=".video">VIDEO</a>
		</div>
	</div>
	<!-- end container -->
	<div class="container-fluid no-padding">
		<!-- begin row -->
		<div class="row no-gutters portfolio__shuffle">
			<div class="mix print__design col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio1.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mix print__design col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio2.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mix print__design col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio3.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mix animation col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio4.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mix art col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio5.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mix web__design col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio6.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mix photography col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio7.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mix video col-xl-3 col-lg-4 col-sm-6 col-12">
				<div class="portfolio__item" style="background-image: url('images/portfolio8.jpg');">
					<a href="#" class="look__all">
						<span class="portfolio__info">
							<span class="portfolio__name">
								T-shirt design
							</span>
							<span class="portfolio__category">
								art/t-shirt
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
</section>
<!-- end portfolio -->
<!-- begin study -->
<section class="s study">
	<!-- begin container -->
	<div class="container">
		<div class="main__title">
			Case study
		</div>
		<div class="main__text center">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dignissimos!
			</p>
		</div>
		<div class="line line__grey"></div>
	</div>
	<!-- end container -->
	<!-- begin container -->
	<div class="container study__wrapper no-padding">
		<div class="study__dots"></div>
		<!-- begin study__slider -->
		<div class="study__slider">
			<!-- begin study__item -->
			<div class="study__item">
				<!-- begin container -->
				<div class="container">
					<!-- begin row -->
					<div class="row no-gutters">
						<div class="col-lg-6 col-12">
							<!-- begin study__info -->
							<div class="study__info">
								<div class="study__icon idea-white"></div>
								<div class="study__title sub__title">
									Accumulate creative ideas
								</div>
								<div class="main__text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nesciunt, obcaecati doloribus eum dicta, tenetur autem tempore, nemo minus aperiam laborum totam error hic voluptatibus id ipsum ratione minima ducimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iusto, dicta, quis impedit quo laborum aliquam, beatae saepe quia quidem similique necessitatibus doloribus. Molestias vero laborum, laboriosam ipsam, a odit corporis eveniet nisi alias id sint eos tempore. Aut ipsam incidunt pariatur excepturi laborum asperiores neque, nesciunt voluptatem velit tempore in omnis nam consequuntur? Beatae molestiae veritatis corporis architecto. Aperiam error ipsa aut incidunt iure eaque saepe laborum, minima itaque asperiores eveniet recusandae dolores earum odio perferendis vel. Saepe possimus autem qui alias voluptatem iste nulla rem ullam, excepturi sunt quam dolores officia, ipsam! Suscipit qui vero, voluptas iste doloribus?
									</p>
								</div>
								<a href="#" class="btn btn__inline btn__shadow fill">Read more</a>
							</div>
							<!-- end study__info -->
						</div>
						<div class="col-lg-6 col-12">
							<div class="study__image" style="background-image: url('images/study.jpg');"></div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end study__item -->
			<!-- begin study__item -->
			<div class="study__item">
				<!-- begin container -->
				<div class="container">
					<!-- begin row -->
					<div class="row no-gutters">
						<div class="col-lg-6 col-12">
							<!-- begin study__info -->
							<div class="study__info">
								<div class="study__icon idea-white"></div>
								<div class="study__title sub__title">
									Accumulate creative ideas
								</div>
								<div class="main__text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nesciunt, obcaecati doloribus eum dicta, tenetur autem tempore, nemo minus aperiam laborum totam error hic voluptatibus id ipsum ratione minima ducimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iusto, dicta, quis impedit quo laborum aliquam, beatae saepe quia quidem similique necessitatibus doloribus. Molestias vero laborum, laboriosam ipsam, a odit corporis eveniet nisi alias id sint eos tempore. Aut ipsam incidunt pariatur excepturi laborum asperiores neque, nesciunt voluptatem velit tempore in omnis nam consequuntur? Beatae molestiae veritatis corporis architecto. Aperiam error ipsa aut incidunt iure eaque saepe laborum, minima itaque asperiores eveniet recusandae dolores earum odio perferendis vel. Saepe possimus autem qui alias voluptatem iste nulla rem ullam, excepturi sunt quam dolores officia, ipsam! Suscipit qui vero, voluptas iste doloribus?
									</p>
								</div>
								<a href="#" class="btn btn__inline btn__shadow fill">Read more</a>
							</div>
							<!-- end study__info -->
						</div>
						<div class="col-lg-6 col-12">
							<div class="study__image" style="background-image: url('http://placehold.it/640x480');"></div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end study__item -->
			<!-- begin study__item -->
			<div class="study__item">
				<!-- begin container -->
				<div class="container">
					<!-- begin row -->
					<div class="row no-gutters">
						<div class="col-lg-6 col-md-12">
							<!-- begin study__info -->
							<div class="study__info">
								<div class="study__icon idea-white"></div>
								<div class="study__title sub__title">
									Accumulate creative ideas
								</div>
								<div class="main__text">
									<p>
										Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Назад необходимыми переписали по всей даже, дорогу снова маленький рукописи свою вопрос предупреждал напоивший, над всеми власти за переулка до. Ручеек.
									</p>
								</div>
								<a href="#" class="btn btn__inline btn__shadow fill">Read more</a>
							</div>
							<!-- end study__info -->
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="study__image" style="background-image: url('http://placehold.it/640x480');"></div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end study__item -->
		</div>
		<!-- end study__slider -->
	</div>
	<!-- end container -->
</section>
<!-- end study -->
<!-- begin stats -->
<section class="stats">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row d-flex justify-content-center">
			<div class="col-md-2 col-sm-6">
				<div class="stats__item">
					<div class="stats__icon heart-white"></div>
					<div class="stats__number">
						<div class="stats__counter" data-perc="3587">
							<span class="counter__number">3587</span>
						</div>
					</div>
					<div class="stats__text">Amazing Features</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="stats__item">
					<div class="stats__icon label-white"></div>
					<div class="stats__number">
						<div class="stats__counter" data-perc="875">
							<span class="counter__number">875</span>
						</div>
					</div>
					<div class="stats__text">Amazing Features</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="stats__item">
					<div class="stats__icon like-white"></div>
					<div class="stats__number">
						<div class="stats__counter" data-perc="2345">
							<span class="counter__number">2345</span>
						</div>
					</div>
					<div class="stats__text">Amazing Features</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="stats__item">
					<div class="stats__icon star-white"></div>
					<div class="stats__number">
						<div class="stats__counter" data-perc="567">
							<span class="counter__number">567</span>
						</div>
					</div>
					<div class="stats__text">Amazing Features</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="stats__item">
					<div class="stats__icon stripe-white"></div>
					<div class="stats__number">
						<div class="stats__counter" data-perc="900">
							<span class="counter__number">900</span>
						</div>
					</div>
					<div class="stats__text">Amazing Features</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end stats -->
<!-- begin pricing -->
<section class="s pricing">
	<!-- begin container -->
	<div class="container">
		<div class="main__title">
			Our pricing
		</div>
		<div class="main__text center">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dignissimos!
			</p>
		</div>
		<div class="line line__grey"></div>
		<!-- begin row -->
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="pricing__item">
					<div class="pricing__title">
						<span class="title">
							Starter
						</span>
					</div>
					<div class="pricing__price main__icon-border">
						<div class="main__icon">
							<span class="price">$99</span>
							<span class="month">
								per month
							</span>
						</div>
					</div>
					<div class="pricing__features">
						<ul>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
						</ul>
						<a href="#" class="btn btn__inline btn__shadow fill inactive">Choose plan</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="pricing__item">
					<div class="pricing__title">
						<span class="title">
							Premium
						</span>
					</div>
					<div class="pricing__price main__icon-border">
						<div class="main__icon">
							<span class="price">$99</span>
							<span class="month">
								per month
							</span>
						</div>
					</div>
					<div class="pricing__features">
						<ul>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
						</ul>
						<a href="#" class="btn btn__inline btn__shadow fill inactive">Choose plan</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="pricing__item">
					<div class="pricing__title">
						<span class="title">
							Business
						</span>
					</div>
					<div class="pricing__price main__icon-border">
						<div class="main__icon">
							<span class="price">$99</span>
							<span class="month">
								per month
							</span>
						</div>
					</div>
					<div class="pricing__features">
						<ul>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
							<li>Lorem ipsum dolor sit.</li>
						</ul>
						<a href="#" class="btn btn__inline btn__shadow fill inactive">Choose plan</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end pricing -->
<!-- begin team -->
<section class="s team">
	<!-- begin container -->
	<div class="container-fluid no-padding">
		<div class="main__title">
			Our team
		</div>
		<div class="main__text center">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dignissimos!
			</p>
		</div>
		<div class="line line__white"></div>
		<div class="team__stripe"></div>
		<!-- begin container -->
		<div class="container">
			<!-- begin team__items -->
			<div class="team__items">
				<div class="team__item first">
					<div class="team__photo">
						<img src="images/photo1.jpg" alt="">
					</div>
					<div class="team__name">
						Kazi Erfan
					</div>
					<div class="team__position">
						UI/UX Designer
					</div>
				</div>
				<div class="team__item second">
					<div class="team__photo">
						<img src="images/photo2.jpg" alt="">
					</div>
					<div class="team__name">
						Kazi Erfan
					</div>
					<div class="team__position">
						UI/UX Designer
					</div>
				</div>
				<div class="team__item third">
					<div class="team__photo">
						<img src="images/photo3.jpg" alt="">
					</div>
					<div class="team__name">
						Kazi Erfan
					</div>
					<div class="team__position">
						UI/UX Designer
					</div>
				</div>
				<div class="team__item fourth">
					<div class="team__photo">
						<img src="images/photo4.jpg" alt="">
					</div>
					<div class="team__name">
						Kazi Erfan
					</div>
					<div class="team__position">
						UI/UX Designer
					</div>
				</div>
				<div class="team__item fifth">
					<div class="team__photo">
						<img src="images/photo5.jpg" alt="">
					</div>
					<div class="team__name">
						Kazi Erfan
					</div>
					<div class="team__position">
						UI/UX Designer
					</div>
				</div>
			</div>
			<!-- end team__items -->
		</div>
		<!-- end container -->

	</div>
	<!-- end container -->
</section>
<!-- end team -->
<!-- begin clients -->
<section class="s clients">
	<!-- begin container -->
	<div class="container">
		<div class="main__title">
			Great integrations with others
		</div>
		<div class="main__text center">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dignissimos!
			</p>
		</div>
		<div class="line line__grey"></div>
		<!-- begin row -->
		<div class="row d-flex justify-content-between">
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients1.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients2.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients3.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients4.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients5.png" alt="">
					</a>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients6.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients7.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients8.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients9.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="clients__item">
					<a href="#">
						<img src="images/clients10.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end clients -->
<!-- begin blog -->
<section class="s blog">
	<!-- begin container -->
	<div class="container-fluid no-padding">
		<div class="main__title">
			Our blog
		</div>
		<div class="main__text center">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dignissimos!
			</p>
		</div>
		<div class="line line__grey"></div>
		<!-- begin row -->
		<div class="row no-gutters d-flex align-items-stretch">
			<div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
				<div class="blog__item d-flex align-items-stretch">
					<!-- begin row -->
					<div class="row w-100 no-gutters d-flex align-items-stretch">
						<div class="col-md-6 col-sm-12 order-xl-1 order-lg-1 order-md-1">
							<div class="blog__photo" style="background-image: url('images/blog1.jpg');"></div>
						</div>
						<div class="col-md-6 col-sm-12 order-xl-2 order-lg-2 order-md-2">
							<div class="blog__text blog__text-right">
								<div class="blog__category">
									art / t-shirt
								</div>
								<div class="blog__name">
									<a href="#">T-Shirt Design</a>
								</div>
								<div class="blog__info">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, odit nesciunt architecto tempore in provident minima saepe eveniet adipisci illo, odio dolore quae molestias ea quos, repellendus! Aliquam, eius, quas!
									</p>
								</div>
								<a href="#" class="look__all">
									Read More
								</a>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
			</div>
			<div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
				<div class="blog__item d-flex align-items-stretch">
					<!-- begin row -->
					<div class="row w-100 no-gutters d-flex align-items-stretch">
						<div class="col-md-6 col-sm-12 order-xl-1 order-lg-2 order-md-2">
							<div class="blog__photo" style="background-image: url('images/blog2.jpg');"></div>
						</div>
						<div class="col-md-6 col-sm-12 order-xl-2 order-lg-1 order-md-1">
							<div class="blog__text blog__text-right">
								<div class="blog__category">
									art / t-shirt
								</div>
								<div class="blog__name">
									T-Shirt Design
								</div>
								<div class="blog__info">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, odit nesciunt architecto tempore in provident minima saepe eveniet adipisci illo, odio dolore quae molestias ea quos, repellendus! Aliquam, eius, quas!
									</p>
								</div>
								<a href="#" class="look__all">
									Read More
								</a>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
			</div>
			<div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
				<div class="blog__item d-flex align-items-stretch">
					<!-- begin row -->
					<div class="row w-100 no-gutters d-flex align-items-stretch">
						<div class="col-md-6 col-sm-12 order-xl-2 order-lg-1 order-md-1">
							<div class="blog__photo" style="background-image: url('images/blog3.jpg');"></div>
						</div>
						<div class="col-md-6 col-sm-12 order-xl-1 order-lg-2 order-md-2">
							<div class="blog__text blog__text-left">
								<div class="blog__category">
									art / t-shirt
								</div>
								<div class="blog__name">
									T-Shirt Design
								</div>
								<div class="blog__info">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, odit nesciunt architecto tempore in provident minima saepe eveniet adipisci illo, odio dolore quae molestias ea quos, repellendus! Aliquam, eius, quas!
									</p>
								</div>
								<a href="#" class="look__all">
									Read More
								</a>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
			</div>
			<div class="col-xl-6 col-lg-12 d-flex align-items-stretch">
				<div class="blog__item d-flex align-items-stretch">
					<!-- begin row -->
					<div class="row w-100 no-gutters d-flex align-items-stretch">
						<div class="col-md-6 col-sm-12 order-xl-2 order-lg-2 order-md-2">
							<div class="blog__photo" style="background-image: url('images/blog4.jpg');"></div>
						</div>
						<div class="col-md-6 col-sm-12 order-xl-1 order-lg-1 order-md-1">
							<div class="blog__text blog__text-left">
								<div class="blog__category">
									art / t-shirt
								</div>
								<div class="blog__name">
									T-Shirt Design
								</div>
								<div class="blog__info">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, odit nesciunt architecto tempore in provident minima saepe eveniet adipisci illo, odio dolore quae molestias ea quos, repellendus! Aliquam, eius, quas!
									</p>
								</div>
								<a href="#" class="look__all">
									Read More
								</a>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end blog -->
<!-- begin contact -->
<section class="s contact">
	<!-- begin container -->
	<div class="container">
		<div class="main__title">
			Keep in touch
		</div>
		<div class="main__text center">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dignissimos!
			</p>
		</div>
		<div class="line line__grey"></div>
		<!-- begin row -->
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="contact__wrapper contact__adress">
					<div class="contact__name">
						Our address
					</div>
					<p>
						House #13, Streat road, Sydney <br>
						2310 Australia
					</p>
					<div class="contact__name">
						Call us
					</div>
					<p>
						+ 880 168 109 1425 <br>
						+ 0216809142
					</p>
					<div class="contact__name">
						email us
					</div>
					<p>
						contactus@email.com
					</p>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="contact__wrapper contact__form">
					<form action="#">
						<input type="text" placeholder="Name">
						<input type="email" placeholder="Email">
						<input type="text" placeholder="Subject">
						<textarea name="message" id="message" placeholder="Message"></textarea>
						<button class="btn btn__inline btn__shadow fill" type="submit">Send message</button>
					</form>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end contact -->
<!-- begin promo -->
<section class="promo" style="background-image: url('images/promo.jpg');">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="promo__title">
				Let's Get Started Now. <span class="b">It's FREE!</span>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsum dolores quia vero nihil veritatis! Quam, voluptatem alias quas dolor fuga neque doloribus sint assumenda animi consequuntur recusandae eius? Quibusdam.
			</p>
			<a href="#" class="btn btn__inline btn__shadow fill">
				Start free trial
			</a>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end promo -->
<!-- begin footer -->
<footer class="footer">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-sm-6">
				<ul class="footer__social">
					<li><a class="facebook" href="#">{{mixins.svg('facebook')}}</a></li>
					<li><a class="twitter" href="#">{{mixins.svg('twitter')}}</a></li>
					<li><a class="rss" href="#">{{mixins.svg('rss')}}</a></li>
					<li><a class="gplus" href="#">{{mixins.svg('gplus')}}</a></li>
					<li><a class="linkedin" href="#">{{mixins.svg('linkedin')}}</a></li>
					<li><a class="skype" href="#">{{mixins.svg('skype')}}</a></li>
					<li><a class="vimeo" href="#">{{mixins.svg('vimeo')}}</a></li>
					<li><a class="tumblr" href="#">{{mixins.svg('tumblr')}}</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="footer__copyright">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, doloremque.
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
	<a href="#" class="goup"></a>
</footer>
<!-- end footer -->
{% endblock %}